<!-- RESPONSIVE NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to "Uproot", root_path, class: "navbar-brand" %>

  <!-- SM SCREEN: burger icon, with nav-item -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- L SCREEN: nav-items are displayed on the navbar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Quiz", "#", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Profile", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>

</div>
