.action-page-position {
  margin-top: 20px;
  text-align: center;
}

.action-option-position {
  margin-top: 45px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4vw;
  a{
    text-decoration: none;
  }
}

.card-action-item .far {
  font-size: 28px;
  text-decoration: none;
  a{
    text-decoration: none;
  }
}


@media (min-width: 768px) {
  .action-option-position {
    grid-template-columns: 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .action-option-position {
    grid-template-columns: 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .action-option-position {
    grid-template-columns: 1fr 1fr;
  }
}
