.landing-background{
  background-image: url(sunset.png);
  background-size: cover;
  height: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  background-position: -257px;
}

.landing-content{
  margin-top: 40%;
}
