// Specific CSS for your home-page
.home-page-position {
  position: relative;
  top: 60vh;
}

.background-image {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1549643276-fdf2fab574f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80");
  display: block;
  height: 100vh;
  position: fixed;
  background-position: center;
  background-size: cover;
}

.landing-h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 1.3px;
  margin-bottom: 0;
}

.landing-p {
  color: white;
}

.btn-home {
  padding-bottom: 9px;
  a {
    text-decoration: none;
    color: white;
  }
}

.container-option{
  position: relative;
  justify-content: center;
  margin-top: 150px;
}
