.landing-background{
  background-image: url(asset_path('landing-image.jpg'));
  background-size: cover;
  height:100vh;
  padding-right: 4vw;
}

.landing-content{
  position: absolute;
  bottom: 160px;
  padding: 4vh 4vw;
}
