<div class="background-image">
  <div class="main-container">
    <div class="home-page-position">
      <h1 class="landing-h1">Plant your own roots</h1>
      <p class="landing-p">Choosing a new city is overwhelming. Let us help you find the perfect one.</p>
      <div class="btn-home">
        <%= link_to "Let's get started.", action_path, class: "btn-main" %>
      </div>
    </div>
  </div>
</div>
