<div class="landing-background">
  <div class="main-container">
    <div class="landing-content">
      <h1>Plant your own roots</h1>
      <p class="text-white mb-5">Choosing a new city is overwhelming. Let us help you find the perfect one.</p>
      <%= link_to "Let's get started", action_path, class: "btn-main" %>
    </div>
  </div>
</div>
