<div class="main-container">
  <h1>Plant your own roots</h1>
  <p>Choosing a new city is overwhelming. Let us help you find the perfect one.</p>
  <%= link_to "Let's get started", action_path, class: "btn-main" %>
</div>
