<div class="main-container quiz-result-show-page-position">
  <h3>After careful calculations, these are the top three cities we matched you with.</h3>
  <% @cities.each do |city| %>
  <div class="quiz-result-show-cards">
      <%= link_to city_path(city.id) do %>
        <div class="card-city top-1">
          <p><%= city.name %></p>
        </div>
      <% end %>
  </div>
  <% end %>

</div>


