.btn-selector{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 18px;
  width:91px;
  height:37px;
  font-size: 18px;
  padding: 8px 20px;
  transition: opacity 0.3s ease;
  margin-right: 4px;
}
