// .btn-option {
//   text-decoration: none;
//   border: 1px solid black;
//   border-radius: 18px;
//   width:91px;
//   height:37px;
//   font-size: 18px;
//   padding: 8px 20px;
//   transition: opacity 0.3s ease;
//   margin-right: 4px;
// }

.btn-option{
  text-decoration: none;
  border: 1px solid black;
  border-radius: 18px;
  width:91px;
  height:37px;
  font-size: 18px;
  padding: 8px 20px;
  transition: opacity 0.3s ease;
  margin-right: 4px;
}

.btn-main {
  color: white;
  background-color: #00BAAA;
  padding: 8px 40px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-sortable{
  display: block;
  margin: 18px 10px;
  width: 327px;
  height: 43px;
  padding: 8px 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 18px;
  text-decoration:none;
  color: inherit;
}

.btn-sortable:hover{
  color:inherit;
  text-decoration:none;
}

.btn-next {
  background: none;
  border: none;
  &:focus {
    outline: 0px auto -webkit-focus-ring-color;
  }
}
