// RESPONSIVE GRID
.grid-cards {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1fr 1fr;
  a {
    text-decoration: none;
    color: black;
  }
}


// IMAGE CARD IN QUIZ
.thumb-option {
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  // opacity: 0.8;

  &.active{
    border: 3px solid #4232FF;
    // opacity: 1;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99));
  }
}

// CARD FOR QUIZ, DISCOVER, COMMUNITY
.card-action {
  height: 160px;
  padding: 4vw;
  width: 100%;
  border: 2px solid black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .far {
      font-size: 36px;
      color: #2613FF;
    }
  }
}

.card-city {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  // font-size: 28px;
  font-weight: bold;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .grid-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
