.slider{
  -webkit-appearance: none;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  &:focus {
    outline: 0px auto -webkit-focus-ring-color;
  }
}
.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #4232FF;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
}
.box{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 24px;
  position: relative;
}

#value{
  color: #4232FF;
}
