#sortable-list {
  padding: 0;

}
#sortable-list li {
  cursor: grab;
  padding: 10px 20px;
  justify-content: center;
  width: 300px;
  border-radius: 8px;
  margin: 4px auto;
  border: 1px solid black;
  vertical-align: center;
  background-color: white;
  text-align: center;
  list-style: none;
}

#sortable-list li.drag {
  cursor: grabbing;
  background-color: #4232FF;
  color: white;
  border: inherit;
}

#sortable-list li.chosen {
  cursor: grabbing;
  opacity: 0.5;
  color: white;
}

#sortable-list label {
  display: inline;
}

#sortable-list li:hover {
  background-color: #4232FF;
  color: white;
}
