.screenfit {
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 4vh 4vw;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  color: white;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

p {
  font-size: 1.5em;
  line-height: 1.1em;
}
