.option-type {
  margin-top: 45px;
}

.quiz-welcome {
  margin-top: 20px;
  margin-bottom: 45px;
}

.quiz-flow {
  .fa-circle:before {
    font-size: 21px;
    opacity: 0.5;
  }
}

.container-option{
  position: relative;
  justify-content: center;
  margin-top: 150px;
}
