.option-type {
  margin-top: 45px;
}

.quiz-welcome {
  margin-top: 20px;
  margin-bottom: 45px;
}

.quiz-flow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  .fa-circle:before {
    font-size: 12px;
    color: #4232FF;
    margin-right: 8px;
  }
}

.container-option{
  position: relative;
  justify-content: center;
  margin-top: 150px;
  min-height: 34vh;
}
