
<div class="city-banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @city.image %>);'>
  <div class="container city-show">
    <h1><%= @city.name %></h1>
  </div>
</div>

<div>
  <div class="container city-show-info">
    <div>
      <h3>Here are some things you might want to know about <%= @city.name %>!</h3>
    </div>
    <div class="city-show-content">
      <p><i class="fas fa-cloud-sun"></i> Weather </p>
      <p><i class="fas fa-unlock-alt"></i> Safety </p>
      <p><i class="fas fa-graduation-cap"></i> Education </p>
      <p><i class="fas fa-traffic-light"></i> Traffic </p>
      <p><i class="fas fa-user-md"></i> Healthcare </p>
    </div>
  </div>
</div>

